.horiznav>div {
    transition: all 0.15s ease-in-out;
    border: 4px solid var(--shadow-color);
    border-radius: 10px;
    box-shadow: 4px 4px 0px var(--shadow-color);
    user-select: none;
}

.horiznav>div:hover {
    color: white;
    background-color: var(--shadow-color);
}

.horiznav>div:active {
    color: white;
    background-color: var(--shadow-color);
    transform: scale(0.95);
}

.lamp:active
{
    transform: translateY(10px);
}


.vernav > div:hover
{
    background-color: gray;
}

.vernav > div:active
{
    background-color: gray;
}

.home div:nth-child(1)
{
    background-color: black;
    color: white;
}

.yourposts div:nth-child(2)
{
    background-color: black;
    color: white;
}

.create div:nth-child(3)
{
    background-color: black;
    color: white;
}

.profile div:nth-child(4)
{
    background-color: black;
    color: white;
}